.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* -----Reset button----- */

.restart {
  height: 50px;
}

#reset_button {
  width: 100px;
  height: 50px;
  border: 1px solid black;
  margin-bottom: 10px;
  background-color: green;
}

/* -----Radio Buttons----- */

.radio_container {
  margin-top: 10px;
  width: 306px;
  font-family: Arial, sans-serif;
}

.label_player_2 {
  float: right;
}

.input_player_2 {
  float: right;
}

.player_1_radio {
  width: 153px;
  float: left;
}

.player_2_radio {
  width: 153px;
  float: right;
}

/* -----Game board----- */

.container {
  width: 306px;
  heigh: 328px;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid #000;
  background: white;
  display: inline;
  float: left;
}

.row_1 {
  margin-top: 10px;
  width: 306px;
  height: 102px;
}

.row_2 {
  width: 306px;
  height: 102px;
}

.row_3 {
  width: 306px;
  height: 102px;
}
